/GROW-FOR-LIFE/nbproject/private/
/GROW-FOR-LIFE/build/
/GROW-FOR-LIFE/dist/
/grow/nbproject/private/
/gorw/nbproject/private/
/gorw/dist/
/gorw/build/
/grow/build/
/go/nbproject/private/
/go/build/
/go/dist/
/GAME/.nb-gradle/
/test/.nb-gradle/